# Problem Set 9 

### Learning Objective:

- Formulate linear optimization models to inform a business decision.
- Create Python code to automate a given task.


### Overview:

This problem set assesses your ability to create an abstract formulation of a linear optimization model, as discussed in the lectures for Week 11.

### Grading

There are three possible scores you can get from submitting this assignment on time (submitting a blank file or one without any apparent effort does not count). Note that the rubric is designed to incentivize you to go for 100% mastery of the material, as the little details matter a lot in business analytics. 

| Grade | Description |
|--|--|
| 5 out of 5 | Perfect submission with no significant errors. | 
| 4 out of 5 | Near perfect submission with one or more significant errors. |
| 2 out of 5 | Apparent effort but far from perfect. |

In each problem, you should go through the steps of applying optimization: English Description -> Concrete Formulation -> Abstract Formulation Python Code.

## Q1 (Emergency Vehicle Location)


The city of Metropolis is divided into nine districts and is considering seven possible sites to place emergency vehicles. The table below shows the time (minutes) it takes for an emergency vehicle to travel from each district to each site. (The column labels are sites and row labels are districts.)

| District \\ Site | 1 | 2 | 3 | 4 | 5 | 6 | 7 |
|:--|--|--|--|--|--|--|--|
| 1 | 5 | 3 | 4 | 3 | 8 | 9 | 0 |
| 2 | 3 | 6 | 5 | 4 | 8 | 0 | 3 |
| 3 | 4 | 3 | 6 | 8 | 10 | 3 | 2 |
| 4 | 6 | 0 | 2 | 7 | 3 | 2 | 5 |
| 5 | 2 | 8 | 2 | 5 | 0 | 6 | 8 |
| 6 | 2 | 6 | 4 | 0 | 7 | 3 | 5 |
| 7 | 0 | 12 | 5 | 5 | 5 | 7 | 2 |
| 8 | 10 | 9 | 0 | 2 | 3 | 5 | 7 |
| 9 | 2 | 4 | 5 | 7 | 3 | 4 | 5 |


Formulate an optimization problem to find the minimum number of sites to place emergency vehicles, such that all districts are within three minutes of an emergency vehicle.

### Step 1. English Description

Describe the decision, objective and constraints in English using precise, complete and succinct language.

**Decision:** Whether to place emergency vehicles at each site.

**Objective:** Minimize number of site that has emergency vehicles.

**Contraints:** emergency vehicles are within three minutes for all districts.

### Step 2. Concrete Formulation

Write a linear optimization formulation in which the only variables are decision variables, and all input data are represented as numbers.

**Decision Variables:** 

$x_i$: Whether emergency vehicles will be placed at site i. (Binary)

**Objective and Constraints:**

$$\begin{aligned}
\text{Minimize} && x_1 + x_2 + x_3 + ... + x_7 \\
\text{s.t.} && \\
&& (District 1) &&  x_2 + x_4 + x_7   &\ge 1 \\
&& (District 2) &&  x_1 + x_6 + x_7   &\ge 1 \\
&& (District 3) &&  x_2 + x_6 + x_7   &\ge 1 \\
&& (District 4) &&  x_2 + x_3 + x_5 + x_6 &\ge 1 \\
&& (District 5) &&  x_1 + x_3 + x_5   &\ge 1 \\
&& (District 6) &&  x_1 + x_4 + x_6   &\ge 1 \\
&& (District 7) &&  x_1 + x_7   &\ge 1 \\
&& (District 8) &&  x_3 + x_4 + x_5  &\ge 1 \\
&& (District 9) &&  x_1 + x_5  &\ge 1 \\

\end{aligned}$$


### Step 3. Python code

In your Python code, use one or more of:

#### list comprehension

#### dara frame or series

#### for loop

If you don't use then, that is ok for now, but eventually we want to be able to "scale."

Python Code below

In [1]:
import pandas as pd
districts = range(1,10)
sites = range(1,8)
data = pd.DataFrame([ [5 , 3 , 4 , 3 , 8 , 9 , 0]
, [ 3 , 6 , 5 , 4 , 8 , 0 , 3 ]
, [ 4 , 3 , 6 , 8 , 10 , 3 , 2]
, [ 6 , 0 , 2 , 7 , 3 , 2 , 5 ]
, [ 2 , 8 , 2 , 5 , 0 , 6 , 8 ]
, [ 2 , 6 , 4 , 0 , 7 , 3 , 5 ]
, [ 0 , 12 , 5 , 5 , 5 , 7 , 2]
, [ 10 , 9 , 0 , 2 , 3 , 5 , 7]
, [ 2 , 4 , 5 , 7 , 3 , 4 , 5 ]
], index= districts, columns= sites)

data

    1   2  3  4   5  6  7
1   5   3  4  3   8  9  0
2   3   6  5  4   8  0  3
3   4   3  6  8  10  3  2
4   6   0  2  7   3  2  5
5   2   8  2  5   0  6  8
6   2   6  4  0   7  3  5
7   0  12  5  5   5  7  2
8  10   9  0  2   3  5  7
9   2   4  5  7   3  4  5

In [2]:
# Python code corresponding to the abstract formulation
from gurobi import Model, GRB

mod = Model()
x = mod.addVars(sites,name = 'x', vtype = GRB.BINARY)
mod.setObjective(sum(x[i] for i in sites), sense = GRB.MINIMIZE)
mod.addConstrs((sum([x[a] for a in data.loc[i][data.loc[i] <= 3].index ]) >= 1 for i in districts))
mod.update()
# mod.write('ps9-1.lp')
# %cat 'ps9-1.lp'

Academic license - for non-commercial use only - expires 2022-10-31
Using license file /Users/suwarath/gurobi.lic

In [3]:
# Numerical Solution
mod.setParam('OutputFlag',False)
mod.optimize()

print(f'Total sites that have emergency vehicles: {mod.ObjVal}')
for i in sites:
    print(f'x[{i}]: {x[i].x}')

Total sites that have emergency vehicles: 3.0
x[1]: 0.0
x[2]: 0.0
x[3]: 0.0
x[4]: 0.0
x[5]: 1.0
x[6]: 1.0
x[7]: 1.0

## Q2 (Optimal Debt Repayment)

Paris has come to you because she needs help paying off her credit card bills. Her statement at the beginning of month 1 shows the following balances:

| Credit Card | Balance | Monthly Rate |
|--|--|--|
| Saks Fifth Avenue | \$20,000 | 0.5\% |
| Bloomingdale's | \$50,000 | 1.0\% |
| Macy's | \$40,000 | 1.5\% |

Paris has agreed not to shop at any of these stores anymore, and she is willing to allocate up to 5,000 dollars per month to pay off these credit cards. All cards must be paid off within 36 months (meaning that her statement at the beginning of month 37 must be zero for all card). Paris’ goal is to minimize the total of all her payments.

For this problem, assume that the interest for the month is applied after the payment for that month. For example, suppose Paris pays 5,000 on Saks for month 1. Then her Saks balance at the beginning of month 2 is $(1.005)\times (20000 - 5000) = 15075$. 

Help Paris solve her problem by formulating it into a linear program, then generalize it to be able to handle arbitrary number of credit cards, balances, monthly rates, monthly budget, and time required for full payment.

### Step 1. English Description

Describe the decision, objective and constraints in English using precise, complete and succinct language.

**Decision:** How much should be paid for each credit card each month

**Objective:** Minimize total amount paid.

**Contraints:** 

- Total payment up to 5,000
- Balance in month 37 must be 0

### Step 2. Concrete Formulation

Write a linear optimization formulation in which the only variables are decision variables, and all input data are represented as numbers.

**Decision Variables:** 

- $x[s,p,i]$: How much amount paid to Saks Fifth Avenue in month i. (Continuous)
- $x[s,b,i]$: How much beginning balance for Saks Fifth Avenue in month i. (Continuous)
- $x[b,p,i]$: How much amount paid to Bloomdingdale's in month i. (Continuous)
- $x[b,b,i]$: How much beginning balance for Bloomdingdale's in month i. (Continuous)
- $x[m,p,i]$: How much amount paid to Macy's in month i. (Continuous)
- $x[m,b,i]$: How much beginning balance for Macy's in month i. (Continuous)

**Objective and Constraints:**

$$\begin{aligned}
\text{Minimize} && x[s,p,1] + x[s,p,1] + x[s,p,1] + ... + x[s,p,36] + x[s,p,36] + x[s,p,36] \\
\text{s.t.} && \\
&& x[s,b,1] = 20000\\
&& x[p,b,1] = 50000\\
&& x[m,b,1] = 40000\\
&& x[s,b,i] = 1.005 * ([s,b,(i-1)] - x[s,p,(i-1)]) \ for \ i \ in \ (2,3,...,36)\\
&& x[p,b,i] = 1.005 * ([p,b,(i-1)] - x[p,p,(i-1)]) \ for \ i \ in \ (2,3,...,36)\\
&& x[m,b,i] = 1.005 * ([m,b,(i-1)] - x[m,p,(i-1)]) \ for \ i \ in \ (2,3,...,36)\\
&& x[s,b,37] = 0 \\
&& x[p,b,37] = 0 \\
&& x[m,b,37] = 0 \\
&& x[s,p,37] = 0 \\
&& x[p,p,37] = 0 \\
&& x[m,p,37] = 0 \\
&& x[s,p,i] + x[p,p,i] + x[m,p,i] &\le 5000 \\
&&
\end{aligned}$$


### Step 3. Python code

In your Python code, use one or more of:

#### list comprehension

#### dara frame or series

#### for loop

If you don't use then, that is ok for now, but eventually we want to be able to "scale."

### Python Code below

In [4]:
# Python code corresponding to the abstract formulation
CreditCards = ['s','b','m']
CreditBalance = pd.DataFrame([[20000,1.005],[50000,1.01],[40000,1.015]]
                             
                             ,columns = ['Balance','Interest Rate']
                             ,index = CreditCards)

CreditBalance

   Balance  Interest Rate
s    20000          1.005
b    50000          1.010
m    40000          1.015

In [5]:
from gurobi import Model, GRB

mod = Model()
x = mod.addVars(CreditCards,['p','b'],range(1,38), name = 'x')
mod.setObjective((sum(x[c,'p',i] for c in CreditCards for i in range(1,38))), sense = GRB.MINIMIZE)
mod.addConstrs(x[c,'b',1] == CreditBalance.loc[c,'Balance'] for c in CreditCards)
mod.addConstrs(x[c,'b',i] == (CreditBalance.loc[c,'Interest Rate'] * (x[c,'b',i-1] - x[c,'p',i-1])) for c in CreditCards for i in range(2,38))
mod.addConstrs(x[c,'b',37] == 0 for c in CreditCards)
mod.addConstrs(x[c,'p',37] == 0 for c in CreditCards)
mod.addConstrs(sum(x[c,'p',i] for c in CreditCards) <= 5000 for i in range(1,37))

mod.update()
# mod.write('ps9-2.lp')
# %cat 'ps9-2.lp'

In [6]:
# Numerical Solution
mod.setParam('OutputFlag',False)
mod.optimize()

print('Total pay: ',mod.ObjVal)
PaidCredit = pd.DataFrame([],columns=['Month','Card','Paid','Balance'])
PaidMonth = pd.DataFrame([],columns=['Month','Pay to Saks',"Pay to Bloomingdale's","Pay to Macy's"])

x['s','p',1].x
for i in range(1,37):
    PaidMonth.loc[len(PaidMonth)] = [i,x['s','p',i].x,x['b','p',i].x,x['m','p',i].x]
    for c in CreditCards:
        # print([i,c,x[c,'p',i].x,x[c,'b',i].x])
        PaidCredit.loc[len(PaidCredit)] = [i,c,x[c,'p',i].x,x[c,'b',i].x]
        
PaidMonth

Total pay:  121797.50485862953

    Month  Pay to Saks  Pay to Bloomingdale's  Pay to Macy's
0     1.0     0.000000               0.000000    5000.000000
1     2.0     0.000000               0.000000    5000.000000
2     3.0     0.000000               0.000000    5000.000000
3     4.0     0.000000               0.000000    5000.000000
4     5.0     0.000000               0.000000    5000.000000
5     6.0     0.000000               0.000000    5000.000000
6     7.0     0.000000               0.000000    5000.000000
7     8.0     0.000000               0.000000    5000.000000
8     9.0     0.000000            2736.955001    2263.044999
9    10.0     0.000000            5000.000000       0.000000
10   11.0     0.000000            5000.000000       0.000000
11   12.0     0.000000            5000.000000       0.000000
12   13.0     0.000000            5000.000000       0.000000
13   14.0     0.000000            5000.000000       0.000000
14   15.0     0.000000            5000.000000       0.000000
15   16.0     0.000000            5000.000000       0.000000
16   17.0     0.000000            5000.000000       0.000000
17   18.0     0.000000            5000.000000       0.000000
18   19.0     0.000000            5000.000000       0.000000
19   20.0   482.259871            4517.740129       0.000000
20   21.0  5000.000000               0.000000       0.000000
21   22.0  5000.000000               0.000000       0.000000
22   23.0  5000.000000               0.000000       0.000000
23   24.0  5000.000000               0.000000       0.000000
24   25.0  1797.504859               0.000000       0.000000
25   26.0     0.000000               0.000000       0.000000
26   27.0     0.000000               0.000000       0.000000
27   28.0     0.000000               0.000000       0.000000
28   29.0     0.000000               0.000000       0.000000
29   30.0     0.000000               0.000000       0.000000
30   31.0     0.000000               0.000000       0.000000
31   32.0     0.000000               0.000000       0.000000
32   33.0     0.000000               0.000000       0.000000
33   34.0     0.000000               0.000000       0.000000
34   35.0     0.000000               0.000000       0.000000
35   36.0     0.000000               0.000000       0.000000

In [7]:
PaidCredit.sort_values(['Card','Month'], inplace= True)

PaidCredit

    Month Card  Paid     Balance
1       1    b   0.0  50000.0000
4       2    b   0.0  50500.0000
7       3    b   0.0  51005.0000
10      4    b   0.0  51515.0500
13      5    b   0.0  52030.2005
..    ...  ...   ...         ...
93     32    s   0.0      0.0000
96     33    s   0.0      0.0000
99     34    s   0.0      0.0000
102    35    s   0.0      0.0000
105    36    s   0.0      0.0000

[108 rows x 4 columns]